<!--
/**
 * Class: CST-336
 * HW 4: HTML, CSS, Node.js and Express.js
 * Authors:
 * - Victor Ramirez
 **/
-->

<!-- This is the footer -->
<!-- The footer goes inside the body but not always -->
            <footer id="main_footer">                
                <hr>
                    CST336 Internet Programming. 2019&copy; Ramirez <br /> 
                    <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
                    It is used for academic purposes only.
            </footer>
            <!-- closing footer -->        
        </body>    
    <!-- closing body -->
</html>