<!--
/**
 * Class: CST-336
 * HW 1: HTML and CSS
 * Authors:
 * - Victor Ramirez
 **/
-->

<% include partials/header.ejs %>

      <div class="w3-panel w3-border">        
        <figure>
            <img src="img/whatisai.jpg" alt="What is AI" />
        </figure>        
        <br />
        <h2>Artificial Intelligence can be divided into a few catagories</h2><br />
        AI is composed of all the following Research, Machines, and Stacks. With all these diverse layers branches of we have the encompassing topic of AI. 
        <br />
         <table>
            <tr id="table-header">
                <td><strong>01 / AI Research</strong></td>
                <td><strong>02 / AI Machines</strong></td>
                <td><strong>03 / AI Stacks</strong></td>
            </tr>
            <tr class="table-row">
                <td>Artificial Intelligence research is the study of "intelligent agents": devices that perceives their environment and takes actions that maximize its chance of successfully achieving its goal.</td>
                <td>Artificial Intelligence is applied when a machine mimics "cognitive" functions that humans associate with other human minds, such as "learning" and "problem solving".</td>
                <td>Artificial Intelligence strides have been greatly increased with the democratization of technology in recent years. Technology / Cloud vendors have recently offered many cutting-edge Artificial Intelligence technology stacks to the masses e.g. Data Collection, Data Storage, Data Processing / Computing, Data Analytics, and Data Output / Reporting. </td>            
            </tr>
        </table>       
        <h2>Sub-Fields of Artificial Intelligence</h2>          
        Artificial Intelligence has sub-fields that are based on technical considerations, such as particular goals (e.g. "machine learning", natural language, speech, "robotics" and vision).
        <figure>
            <img src="img/layers_of_ai.png" alt="Layers of AI" />
        </figure>        
        Refence: https://medium.com/@chethankumargn/artificial-intelligence-definition-types-examples-technologies-962ea75c7b9b
      </div> 

<% include partials/footer.ejs %>