<!--
/**
 * Class: CST-336
 * HW 1: HTML and CSS
 * Authors:
 * - Victor Ramirez
 **/
-->

<% include partials/header.ejs %>

      <div class="w3-panel w3-border">
        <h2>What is Deep Learning?</h2><br />
        Deep learning is a part of machine learning based on neural networks. The Learning can be supervised, semi-supervised or unsupervised.
        
        Deep learning use deep neural networks, deep belief networks, recurrent neural networks and convolutional neural networks. These advances have been applied to computer vision, speech recognition, natural language processing, audio recognition, social network filtering, machine translation, bioinformatics, drug design, medical image analysis, material inspection and board game programs and many more. The results produed have been comparable to and in some cases superior to human experts.
        <figure>
          <img src="img/deep_learning.png" alt="Deep Learning" />
        </figure>                
        Machine Learning is composed of all the following Deep Learning Types, Deep Learning Supervised, and Deep Leasnring Unsupervised.
        <br />
         <table>
            <tr id="table-header">
                <td><strong>01 / Spervised Deep Learning</strong></td>
                <td><strong>02 / Unsupervised Deep Learning</strong></td>                
            </tr>
            <tr class="table-row">
                <td>Supervised Learning is when the features are extracted manually.</td>
                <td>Unsupervised Leanring is when the deep learning network extracts all the necessary features automatically.</td>
            </tr>
        </table>       
        <h2>Deep Learning vs Machine Learning</h2>          
        The difference between Deep Learning and Machine Learning.
        <figure>
            <img src="img/machine_learning_vs_deep_learning.png" alt="Deep Learning vs Machine Learning Process" />
        </figure>        
        References: https://mapr.com/blog/demystifying-ai-ml-dl/ and https://towardsdatascience.com/parallel-and-distributed-deep-learning-a-survey-97137ff94e4c
      </div> 

<% include partials/footer.ejs %>