<!--
/**
 * Class: CST-336
 * HW 1: HTML and CSS
 * Authors:
 * - Victor Ramirez
 **/
-->

<% include partials/header.ejs %>
  
      <script type="text/javascript">

        var book = {
            title: faker.lorem.words(),
            author: faker.name.findName(),
            author_image: faker.image.avatar(),
            release_date: faker.date.recent(),
            image: faker.image.abstract(),
            price: faker.commerce.price(),
            short_description: faker.lorem.sentence(),
            long_description: faker.lorem.paragraph()
        } 

        console.log("Create a random favorite book data with the faker library." + book);

        myFunction(book);

        function myFunction(book) {

          // alert("My book: " + book);
          alert("My favorite book title: " + book.title);
          alert("My favorite book author: " + book.author);

        }

      </script>       

      <main>        
          <figure>
            <img src="img/ai_6_1.jpg" alt="Picture of AI" class="center"/>
          </figure>
          <div class="w3-panel w3-border">
            <br />  
            <h3>Hello!</h3>
            <br />          
            <p>Thank you for visting my Artificial Intelligence, Machine Learning and Deep Learning Website. Artificial intelligence (AI) is the ability of a computer program or a machine to think and learn. The sections on this site expalin each topic in depth.<p>
            <br /><br />
            
            <em id="textClick">"That which does not kill us makes us <strong>stronger</strong>."</em><br /> - Friedrich Nietzsche
            
            <!-- new html -->
            <button onclick="myFunction()" type="button">Click me to change the text color!</button>           
            
            <!-- new html -->
            <script>
              function myFunction() 
              {
                document.getElementById("textClick").style.color = "blue";
              }
            </script>

          </div>        
      </main>

<% include partials/footer.ejs %>