<!--
/**
 * Class: CST-336
 * HW 1: HTML and CSS
 * Authors:
 * - Victor Ramirez
 **/
-->

<% include partials/header.ejs %>

      <div class="w3-panel w3-border">      
        <h2>What is Machine Learning?</h2><br />
        <figure>
            <img src="img/machine-learning-process.png" alt="Machine Learning Image" />
        </figure>         
        <h2>Machine Learning is composed of all the following Learning Types, Learning Vision, and Learning Technology.</h2>
        <br />
         <table>
            <tr id="table-header">
                <td><strong>01 / Learning  Types</strong></td>
                <td><strong>02 / Learning  Vision</strong></td>
                <td><strong>03 / Learning  Technology</strong></td>
            </tr>
            <tr class="table-row">
                <td>Machine Learning can consist of two types of learning: Supervised and Unsupervised. Supervised learning consists of adding specific features for the algorithm. The features will help the algorithm to derive meaning and context. Unsupervised learning does not provide features and allows the algorithm to learn the meaning and context on its own. </td>
                <td>Machine Vision is image recognition, object detection and tracking, automatic document analysis, face detection and recognition, computational photography, augmented reality,, 3D reconstruction</td>
                <td>Machine Technology is vast and rich. There are the cloud vendors AWS, Azure and Google. There is a wide open sosource tools set TensorFlow, Scikit-learn and python.</td>
            </tr>
        </table>       
        <h2>The Machine Learning Process</h2><br />
        <h3>The Machine Learning process is as follows: train the data, error correct test and then deploy.</h3>
        <figure>
            <img src="img/machine_learning_process.png" alt="Machine Learning Process" />
        </figure>        
        Reference: https://favouriteblog.com/15-algorithms-machine-learning-engineers/
      </div> 

<% include partials/footer.ejs %>