html, body 
{
  background: #c6cc6c;
  background: -webkit-linear-gradient(rgb(243, 246, 203), rgb(224, 245, 32));
  background:    -moz-linear-gradient(rgb(243, 246, 203), rgb(224, 245, 32));
  background:         linear-gradient(rgb(243, 246, 203), rgb(224, 245, 32));
}

div
{
  text-align: center;
}

